

body{
	background-color: ;

}
h2{
	color: blue;
	font-family: verdana;
	font-size: 300%;
}
p{
	color: red;
	font-family: courier;
	font-size: 160%;
	font-display: 70px;
	border: 2px powderblue;
	font-weight: ;
}

u{
	color: blue;
	font-family: verdana;
	font-size: 100%;
}












